In [7]:
import pandas as pd
original_df = pd.read_csv('penguins.csv')
original_df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

### Convert data frame to list ###

In [37]:
df_list = df.values.tolist()
    
# Print the first 10 elements
print(df_list[:10])

[['Adelie', 'Torgersen', 39.1, 18.7, 181.0, 3750.0, 'MALE'], ['Adelie', 'Torgersen', 39.5, 17.4, 186.0, 3800.0, 'FEMALE'], ['Adelie', 'Torgersen', 40.3, 18.0, 195.0, 3250.0, 'FEMALE'], ['Adelie', 'Torgersen', nan, nan, nan, nan, nan], ['Adelie', 'Torgersen', 36.7, 19.3, 193.0, 3450.0, 'FEMALE'], ['Adelie', 'Torgersen', 39.3, 20.6, 190.0, 3650.0, 'MALE'], ['Adelie', 'Torgersen', 38.9, 17.8, 181.0, 3625.0, 'FEMALE'], ['Adelie', 'Torgersen', 39.2, 19.6, 195.0, 4675.0, 'MALE'], ['Adelie', 'Torgersen', 34.1, 18.1, 193.0, 3475.0, nan], ['Adelie', 'Torgersen', 42.0, 20.2, 190.0, 4250.0, nan]]

### Convert list to data frame ###

In [38]:
df = pd.DataFrame(df_list, columns=['species', 'island', 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g', 'sex'])
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

### Convert data frame to dict ###

In [18]:
df_dict = original_df.to_dict()

# Print first 500 characters
print(str(df_dict)[:500])

{'species': {0: 'Adelie', 1: 'Adelie', 2: 'Adelie', 3: 'Adelie', 4: 'Adelie', 5: 'Adelie', 6: 'Adelie', 7: 'Adelie', 8: 'Adelie', 9: 'Adelie', 10: 'Adelie', 11: 'Adelie', 12: 'Adelie', 13: 'Adelie', 14: 'Adelie', 15: 'Adelie', 16: 'Adelie', 17: 'Adelie', 18: 'Adelie', 19: 'Adelie', 20: 'Adelie', 21: 'Adelie', 22: 'Adelie', 23: 'Adelie', 24: 'Adelie', 25: 'Adelie', 26: 'Adelie', 27: 'Adelie', 28: 'Adelie', 29: 'Adelie', 30: 'Adelie', 31: 'Adelie', 32: 'Adelie', 33: 'Adelie', 34: 'Adelie', 35: 'Ad

### Convert dict to data frame ###

In [20]:
df = pd.DataFrame(df_dict)
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [55]:
# Different configuration of dict, works the same
data = [{'area': 'new-hills', 'rainfall': 100, 'temperature': 20},
         {'area': 'cape-town',  'rainfall': 70, 'temperature': 25},
         {'area': 'mumbai',  'rainfall': 200,  'temperature': 39 }]
  
df = pd.DataFrame(data)
df

        area  rainfall  temperature
0  new-hills       100           20
1  cape-town        70           25
2     mumbai       200           39

### Convert dict to JSON (and back) ###

SPLIT : dict like {‘columns’:[columns], ‘index’:[index], ‘data’:[values]}

In [26]:
df_json_split = original_df.to_json(orient='split')
print(str(df_json_split)[:500])

{"columns":["species","island","bill_length_mm","bill_depth_mm","flipper_length_mm","body_mass_g","sex"],"index":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,

In [49]:
# Can´t return back as a JSON
df = pd.read_json(df_json_split)
df

ValueError: arrays must all be same length

RECORDS : list like [{column1:value, column2:value, …}, … , {column1:value, column2:value, …}]

In [27]:
df_json_records = original_df.to_json(orient='records')
print(str(df_json_records)[:500])

[{"species":"Adelie","island":"Torgersen","bill_length_mm":39.1,"bill_depth_mm":18.7,"flipper_length_mm":181.0,"body_mass_g":3750.0,"sex":"MALE"},{"species":"Adelie","island":"Torgersen","bill_length_mm":39.5,"bill_depth_mm":17.4,"flipper_length_mm":186.0,"body_mass_g":3800.0,"sex":"FEMALE"},{"species":"Adelie","island":"Torgersen","bill_length_mm":40.3,"bill_depth_mm":18.0,"flipper_length_mm":195.0,"body_mass_g":3250.0,"sex":"FEMALE"},{"species":"Adelie","island":"Torgersen","bill_length_mm":nu

In [46]:
df = pd.read_json(df_json_records)
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,None
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,None
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

INDEX : dict like {index:{column1:value, column2:value, …}, index2:{column1:value, column2:value, …}, …}

In [28]:
df_json_index = original_df.to_json(orient='index')
print(str(df_json_index)[:500])

{"0":{"species":"Adelie","island":"Torgersen","bill_length_mm":39.1,"bill_depth_mm":18.7,"flipper_length_mm":181.0,"body_mass_g":3750.0,"sex":"MALE"},"1":{"species":"Adelie","island":"Torgersen","bill_length_mm":39.5,"bill_depth_mm":17.4,"flipper_length_mm":186.0,"body_mass_g":3800.0,"sex":"FEMALE"},"2":{"species":"Adelie","island":"Torgersen","bill_length_mm":40.3,"bill_depth_mm":18.0,"flipper_length_mm":195.0,"body_mass_g":3250.0,"sex":"FEMALE"},"3":{"species":"Adelie","island":"Torgersen","bi

In [45]:
df = pd.read_json(df_json_index)
df

,0,1,2,3,4,5,6,7,8,9,...,334,335,336,337,338,339,340,341,342,343
species,Adelie,Adelie,Adelie,Adelie,Adelie,Adelie,Adelie,Adelie,Adelie,Adelie,...,Gentoo,Gentoo,Gentoo,Gentoo,Gentoo,Gentoo,Gentoo,Gentoo,Gentoo,Gentoo
island,Torgersen,Torgersen,Torgersen,Torgersen,Torgersen,Torgersen,Torgersen,Torgersen,Torgersen,Torgersen,...,Biscoe,Biscoe,Biscoe,Biscoe,Biscoe,Biscoe,Biscoe,Biscoe,Biscoe,Biscoe
bill_length_mm,39.1,39.5,40.3,None,36.7,39.3,38.9,39.2,34.1,42,...,46.2,55.1,44.5,48.8,47.2,None,46.8,50.4,45.2,49.9
bill_depth_mm,18.7,17.4,18,None,19.3,20.6,17.8,19.6,18.1,20.2,...,14.1,16,15.7,16.2,13.7,None,14.3,15.7,14.8,16.1
flipper_length_mm,181,186,195,None,193,190,181,195,193,190,...,217,230,217,222,214,None,215,222,212,213
body_mass_g,3750,3800,3250,None,3450,3650,3625,4675,3475,4250,...,4375,5850,4875,6000,4925,None,4850,5750,5200,5400
sex,MALE,FEMALE,FEMALE,None,FEMALE,MALE,FEMALE,MALE,None,None,...,FEMALE,MALE,None,MALE,FEMALE,None,FEMALE,MALE,FEMALE,MALE

COLUMNS : dict like {column1:{index1:value, index2:value, …}, column2:{index1:value, index2:value, …}, …}

In [29]:
df_json_columns = original_df.to_json(orient='columns')
print(str(df_json_columns)[:500])

{"species":{"0":"Adelie","1":"Adelie","2":"Adelie","3":"Adelie","4":"Adelie","5":"Adelie","6":"Adelie","7":"Adelie","8":"Adelie","9":"Adelie","10":"Adelie","11":"Adelie","12":"Adelie","13":"Adelie","14":"Adelie","15":"Adelie","16":"Adelie","17":"Adelie","18":"Adelie","19":"Adelie","20":"Adelie","21":"Adelie","22":"Adelie","23":"Adelie","24":"Adelie","25":"Adelie","26":"Adelie","27":"Adelie","28":"Adelie","29":"Adelie","30":"Adelie","31":"Adelie","32":"Adelie","33":"Adelie","34":"Adelie","35":"Ad

In [44]:
df = pd.read_json(df_json_columns)
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,None
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,None
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

VALUES : just the values array

In [30]:
df_json_values = original_df.to_json(orient='values')
print(str(df_json_values)[:500])

[["Adelie","Torgersen",39.1,18.7,181.0,3750.0,"MALE"],["Adelie","Torgersen",39.5,17.4,186.0,3800.0,"FEMALE"],["Adelie","Torgersen",40.3,18.0,195.0,3250.0,"FEMALE"],["Adelie","Torgersen",null,null,null,null,null],["Adelie","Torgersen",36.7,19.3,193.0,3450.0,"FEMALE"],["Adelie","Torgersen",39.3,20.6,190.0,3650.0,"MALE"],["Adelie","Torgersen",38.9,17.8,181.0,3625.0,"FEMALE"],["Adelie","Torgersen",39.2,19.6,195.0,4675.0,"MALE"],["Adelie","Torgersen",34.1,18.1,193.0,3475.0,null],["Adelie","Torgersen"

In [43]:
df = pd.read_json(df_json_values)
df

          0          1     2     3      4       5       6
0    Adelie  Torgersen  39.1  18.7  181.0  3750.0    MALE
1    Adelie  Torgersen  39.5  17.4  186.0  3800.0  FEMALE
2    Adelie  Torgersen  40.3  18.0  195.0  3250.0  FEMALE
3    Adelie  Torgersen   NaN   NaN    NaN     NaN    None
4    Adelie  Torgersen  36.7  19.3  193.0  3450.0  FEMALE
..      ...        ...   ...   ...    ...     ...     ...
339  Gentoo     Biscoe   NaN   NaN    NaN     NaN    None
340  Gentoo     Biscoe  46.8  14.3  215.0  4850.0  FEMALE
341  Gentoo     Biscoe  50.4  15.7  222.0  5750.0    MALE
342  Gentoo     Biscoe  45.2  14.8  212.0  5200.0  FEMALE
343  Gentoo     Biscoe  49.9  16.1  213.0  5400.0    MALE

[344 rows x 7 columns]

### Convert data frame to string ###

In [35]:
# print in tabular format
df_string = original_df.to_string()
df_string

'       species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g     sex\n0       Adelie  Torgersen            39.1           18.7              181.0       3750.0    MALE\n1       Adelie  Torgersen            39.5           17.4              186.0       3800.0  FEMALE\n2       Adelie  Torgersen            40.3           18.0              195.0       3250.0  FEMALE\n3       Adelie  Torgersen             NaN            NaN                NaN          NaN     NaN\n4       Adelie  Torgersen            36.7           19.3              193.0       3450.0  FEMALE\n5       Adelie  Torgersen            39.3           20.6              190.0       3650.0    MALE\n6       Adelie  Torgersen            38.9           17.8              181.0       3625.0  FEMALE\n7       Adelie  Torgersen            39.2           19.6              195.0       4675.0    MALE\n8       Adelie  Torgersen            34.1           18.1              193.0       3475.0     NaN\n9       Adelie  Torgersen            42.0           20.2              190.0       4250.0     NaN\n10      Adelie  Torgersen            37.8           17.1              186.0       3300.0     NaN\n11      Adelie  Torgersen            37.8           17.3              180.0       3700.0     NaN\n12      Adelie  Torgersen            41.1           17.6              182.0       3200.0  FEMALE\n13      Adelie  Torgersen            38.6           21.2              191.0       3800.0    MALE\n14      Adelie  Torgersen            34.6           21.1              198.0       4400.0    MALE\n15      Adelie  Torgersen            36.6           17.8              185.0       3700.0  FEMALE\n16      Adelie  Torgersen            38.7           19.0              195.0       3450.0  FEMALE\n17      Adelie  Torgersen            42.5           20.7              197.0       4500.0    MALE\n18      Adelie  Torgersen            34.4           18.4              184.0       3325.0  FEMALE\n19      Adelie  Torgersen            46.0           21.5              194.0       4200.0    MALE\n20      Adelie     Biscoe            37.8           18.3              174.0       3400.0  FEMALE\n21      Adelie     Biscoe            37.7           18.7              180.0       3600.0    MALE\n22      Adelie     Biscoe            35.9           19.2              189.0       3800.0  FEMALE\n23      Adelie     Biscoe            38.2           18.1              185.0       3950.0    MALE\n24      Adelie     Biscoe            38.8           17.2              180.0       3800.0    MALE\n25      Adelie     Biscoe            35.3           18.9              187.0       3800.0  FEMALE\n26      Adelie     Biscoe            40.6           18.6              183.0       3550.0    MALE\n27      Adelie     Biscoe            40.5           17.9              187.0       3200.0  FEMALE\n28      Adelie     Biscoe            37.9           18.6              172.0       3150.0  FEMALE\n29      Adelie     Biscoe            40.5           18.9              180.0       3950.0    MALE\n30      Adelie      Dream            39.5           16.7              178.0       3250.0  FEMALE\n31      Adelie      Dream            37.2           18.1              178.0       3900.0    MALE\n32      Adelie      Dream            39.5           17.8              188.0       3300.0  FEMALE\n33      Adelie      Dream            40.9           18.9              184.0       3900.0    MALE\n34      Adelie      Dream            36.4           17.0              195.0       3325.0  FEMALE\n35      Adelie      Dream            39.2           21.1              196.0       4150.0    MALE\n36      Adelie      Dream            38.8           20.0              190.0       3950.0    MALE\n37      Adelie      Dream            42.2           18.5              180.0       3550.0  FEMALE\n38      Adelie      Dream            37.6           19.3              181.0       3300.0  FEMALE\n39      Adelie      Dream            39.8           19.1              184.0       4650.0    MALE\n40      Adelie      Dream            36.5           18.0              182.0       3150.0  FEMALE\n41      Adelie      Dream            40.8           18.4              195.0       3900.0    MALE\n42      Adelie      Dream            36.0           18.5              186.0       3100.0  FEMALE\n43      Adelie      Dream            44.1           19.7              196.0       4400.0    MALE\n44      Adelie      Dream            37.0           16.9              185.0       3000.0  FEMALE\n45      Adelie      Dream            39.6           18.8              190.0       4600.0    MALE\n46      Adelie      Dream            41.1           19.0              182.0       3425.0    MALE\n47      Adelie      Dream            37.5           18.9              179.0       2975.0     NaN\n48      Adelie      Dream            36.0           17.9              190.0       3450.0  FEMALE\n49      Adelie      Dream            42.3           21.2              191.0       4150.0    MALE\n50      Adelie     Biscoe            39.6           17.7              186.0       3500.0  FEMALE\n51      Adelie     Biscoe            40.1           18.9              188.0       4300.0    MALE\n52      Adelie     Biscoe            35.0           17.9              190.0       3450.0  FEMALE\n53      Adelie     Biscoe            42.0           19.5              200.0       4050.0    MALE\n54      Adelie     Biscoe            34.5           18.1              187.0       2900.0  FEMALE\n55      Adelie     Biscoe            41.4           18.6              191.0       3700.0    MALE\n56      Adelie     Biscoe            39.0           17.5              186.0       3550.0  FEMALE\n57      Adelie     Biscoe            40.6           18.8              193.0       3800.0    MALE\n58      Adelie     Biscoe            36.5           16.6              181.0       2850.0  FEMALE\n59      Adelie     Biscoe            37.6           19.1              194.0       3750.0    MALE\n60      Adelie     Biscoe            35.7           16.9              185.0       3150.0  FEMALE\n61      Adelie     Biscoe            41.3           21.1              195.0       4400.0    MALE\n62      Adelie     Biscoe            37.6           17.0              185.0       3600.0  FEMALE\n63      Adelie     Biscoe            41.1           18.2              192.0       4050.0    MALE\n64      Adelie     Biscoe            36.4           17.1              184.0       2850.0  FEMALE\n65      Adelie     Biscoe            41.6           18.0              192.0       3950.0    MALE\n66      Adelie     Biscoe            35.5           16.2              195.0       3350.0  FEMALE\n67      Adelie     Biscoe            41.1           19.1              188.0       4100.0    MALE\n68      Adelie  Torgersen            35.9           16.6              190.0       3050.0  FEMALE\n69      Adelie  Torgersen            41.8           19.4              198.0       4450.0    MALE\n70      Adelie  Torgersen            33.5           19.0              190.0       3600.0  FEMALE\n71      Adelie  Torgersen            39.7           18.4              190.0       3900.0    MALE\n72      Adelie  Torgersen            39.6           17.2              196.0       3550.0  FEMALE\n73      Adelie  Torgersen            45.8           18.9              197.0       4150.0    MALE\n74      Adelie  Torgersen            35.5           17.5              190.0       3700.0  FEMALE\n75      Adelie  Torgersen            42.8           18.5              195.0       4250.0    MALE\n76      Adelie  Torgersen            40.9           16.8              191.0       3700.0  FEMALE\n77      Adelie  Torgersen            37.2           19.4              184.0       3900.0    MALE\n78      Adelie  Torgersen            36.2           16.1              187.0       3550.0  FEMALE\n79      Adelie  Torgersen            42.1           19.1              195.0       4000.0    MALE\n80      Adelie  Torgersen            34.6           17.2              189.0       3200.0  FEMALE\n81      Adelie  Torgersen            42.9           17.6              196.0       4700.0    MALE\n82      Adelie  Torgersen            36.7           18.8              187.0       3800.0  FEMALE\n83      Adelie  Torgersen            35.1           19.4              193.0       4200.0    MALE\n84      Adelie      Dream            37.3           17.8              191.0       3350.0  FEMALE\n85      Adelie      Dream            41.3           20.3              194.0       3550.0    MALE\n86      Adelie      Dream            36.3           19.5              190.0       3800.0    MALE\n87      Adelie      Dream            36.9           18.6              189.0       3500.0  FEMALE\n88      Adelie      Dream            38.3           19.2              189.0       3950.0    MALE\n89      Adelie      Dream            38.9           18.8              190.0       3600.0  FEMALE\n90      Adelie      Dream            35.7           18.0              202.0       3550.0  FEMALE\n91      Adelie      Dream            41.1           18.1              205.0       4300.0    MALE\n92      Adelie      Dream            34.0           17.1              185.0       3400.0  FEMALE\n93      Adelie      Dream            39.6           18.1              186.0       4450.0    MALE\n94      Adelie      Dream            36.2           17.3              187.0       3300.0  FEMALE\n95      Adelie      Dream            40.8           18.9              208.0       4300.0    MALE\n96      Adelie      Dream            38.1           18.6              190.0       3700.0  FEMALE\n97      Adelie      Dream            40.3           18.5              196.0       4350.0    MALE\n98      Adelie      Dream            33.1           16.1              178.0       2900.0  FEMALE\n99      Adelie      Dream            43.2           18.5              192.0       4100.0    MALE\n100     Adelie     Biscoe            35.0           17.9              192.0       3725.0  FEMALE\n101     Adelie     Biscoe            41.0           20.0              203.0       4725.0    MALE\n102     Adelie     Biscoe            37.7           16.0              183.0       3075.0  FEMALE\n103     Adelie     Biscoe            37.8           20.0              190.0       4250.0    MALE\n104     Adelie     Biscoe            37.9           18.6              193.0       2925.0  FEMALE\n105     Adelie     Biscoe            39.7           18.9              184.0       3550.0    MALE\n106     Adelie     Biscoe            38.6           17.2              199.0       3750.0  FEMALE\n107     Adelie     Biscoe            38.2           20.0              190.0       3900.0    MALE\n108     Adelie     Biscoe            38.1           17.0              181.0       3175.0  FEMALE\n109     Adelie     Biscoe            43.2           19.0              197.0       4775.0    MALE\n110     Adelie     Biscoe            38.1           16.5              198.0       3825.0  FEMALE\n111     Adelie     Biscoe            45.6           20.3              191.0       4600.0    MALE\n112     Adelie     Biscoe            39.7           17.7              193.0       3200.0  FEMALE\n113     Adelie     Biscoe            42.2           19.5              197.0       4275.0    MALE\n114     Adelie     Biscoe            39.6           20.7              191.0       3900.0  FEMALE\n115     Adelie     Biscoe            42.7           18.3              196.0       4075.0    MALE\n116     Adelie  Torgersen            38.6           17.0              188.0       2900.0  FEMALE\n117     Adelie  Torgersen            37.3           20.5              199.0       3775.0    MALE\n118     Adelie  Torgersen            35.7           17.0              189.0       3350.0  FEMALE\n119     Adelie  Torgersen            41.1           18.6              189.0       3325.0    MALE\n120     Adelie  Torgersen            36.2           17.2              187.0       3150.0  FEMALE\n121     Adelie  Torgersen            37.7           19.8              198.0       3500.0    MALE\n122     Adelie  Torgersen            40.2           17.0              176.0       3450.0  FEMALE\n123     Adelie  Torgersen            41.4           18.5              202.0       3875.0    MALE\n124     Adelie  Torgersen            35.2           15.9              186.0       3050.0  FEMALE\n125     Adelie  Torgersen            40.6           19.0              199.0       4000.0    MALE\n126     Adelie  Torgersen            38.8           17.6              191.0       3275.0  FEMALE\n127     Adelie  Torgersen            41.5           18.3              195.0       4300.0    MALE\n128     Adelie  Torgersen            39.0           17.1              191.0       3050.0  FEMALE\n129     Adelie  Torgersen            44.1           18.0              210.0       4000.0    MALE\n130     Adelie  Torgersen            38.5           17.9              190.0       3325.0  FEMALE\n131     Adelie  Torgersen            43.1           19.2              197.0       3500.0    MALE\n132     Adelie      Dream            36.8           18.5              193.0       3500.0  FEMALE\n133     Adelie      Dream            37.5           18.5              199.0       4475.0    MALE\n134     Adelie      Dream            38.1           17.6              187.0       3425.0  FEMALE\n135     Adelie      Dream            41.1           17.5              190.0       3900.0    MALE\n136     Adelie      Dream            35.6           17.5              191.0       3175.0  FEMALE\n137     Adelie      Dream            40.2           20.1              200.0       3975.0    MALE\n138     Adelie      Dream            37.0           16.5              185.0       3400.0  FEMALE\n139     Adelie      Dream            39.7           17.9              193.0       4250.0    MALE\n140     Adelie      Dream            40.2           17.1              193.0       3400.0  FEMALE\n141     Adelie      Dream            40.6           17.2              187.0       3475.0    MALE\n142     Adelie      Dream            32.1           15.5              188.0       3050.0  FEMALE\n143     Adelie      Dream            40.7           17.0              190.0       3725.0    MALE\n144     Adelie      Dream            37.3           16.8              192.0       3000.0  FEMALE\n145     Adelie      Dream            39.0           18.7              185.0       3650.0    MALE\n146     Adelie      Dream            39.2           18.6              190.0       4250.0    MALE\n147     Adelie      Dream            36.6           18.4              184.0       3475.0  FEMALE\n148     Adelie      Dream            36.0           17.8              195.0       3450.0  FEMALE\n149     Adelie      Dream            37.8           18.1              193.0       3750.0    MALE\n150     Adelie      Dream            36.0           17.1              187.0       3700.0  FEMALE\n151     Adelie      Dream            41.5           18.5              201.0       4000.0    MALE\n152  Chinstrap      Dream            46.5           17.9              192.0       3500.0  FEMALE\n153  Chinstrap      Dream            50.0           19.5              196.0       3900.0    MALE\n154  Chinstrap      Dream            51.3           19.2              193.0       3650.0    MALE\n155  Chinstrap      Dream            45.4           18.7              188.0       3525.0  FEMALE\n156  Chinstrap      Dream            52.7           19.8              197.0       3725.0    MALE\n157  Chinstrap      Dream            45.2           17.8              198.0       3950.0  FEMALE\n158  Chinstrap      Dream            46.1           18.2              178.0       3250.0  FEMALE\n159  Chinstrap      Dream            51.3           18.2              197.0       3750.0    MALE\n160  Chinstrap      Dream            46.0           18.9              195.0       4150.0  FEMALE\n161  Chinstrap      Dream            51.3           19.9              198.0       3700.0    MALE\n162  Chinstrap      Dream            46.6           17.8              193.0       3800.0  FEMALE\n163  Chinstrap      Dream            51.7           20.3              194.0       3775.0    MALE\n164  Chinstrap      Dream            47.0           17.3              185.0       3700.0  FEMALE\n165  Chinstrap      Dream            52.0           18.1              201.0       4050.0    MALE\n166  Chinstrap      Dream            45.9           17.1              190.0       3575.0  FEMALE\n167  Chinstrap      Dream            50.5           19.6              201.0       4050.0    MALE\n168  Chinstrap      Dream            50.3           20.0              197.0       3300.0    MALE\n169  Chinstrap      Dream            58.0           17.8              181.0       3700.0  FEMALE\n170  Chinstrap      Dream            46.4           18.6              190.0       3450.0  FEMALE\n171  Chinstrap      Dream            49.2           18.2              195.0       4400.0    MALE\n172  Chinstrap      Dream            42.4           17.3              181.0       3600.0  FEMALE\n173  Chinstrap      Dream            48.5           17.5              191.0       3400.0    MALE\n174  Chinstrap      Dream            43.2           16.6              187.0       2900.0  FEMALE\n175  Chinstrap      Dream            50.6           19.4              193.0       3800.0    MALE\n176  Chinstrap      Dream            46.7           17.9              195.0       3300.0  FEMALE\n177  Chinstrap      Dream            52.0           19.0              197.0       4150.0    MALE\n178  Chinstrap      Dream            50.5           18.4              200.0       3400.0  FEMALE\n179  Chinstrap      Dream            49.5           19.0              200.0       3800.0    MALE\n180  Chinstrap      Dream            46.4           17.8              191.0       3700.0  FEMALE\n181  Chinstrap      Dream            52.8           20.0              205.0       4550.0    MALE\n182  Chinstrap      Dream            40.9           16.6              187.0       3200.0  FEMALE\n183  Chinstrap      Dream            54.2           20.8              201.0       4300.0    MALE\n184  Chinstrap      Dream            42.5           16.7              187.0       3350.0  FEMALE\n185  Chinstrap      Dream            51.0           18.8              203.0       4100.0    MALE\n186  Chinstrap      Dream            49.7           18.6              195.0       3600.0    MALE\n187  Chinstrap      Dream            47.5           16.8              199.0       3900.0  FEMALE\n188  Chinstrap      Dream            47.6           18.3              195.0       3850.0  FEMALE\n189  Chinstrap      Dream            52.0           20.7              210.0       4800.0    MALE\n190  Chinstrap      Dream            46.9           16.6              192.0       2700.0  FEMALE\n191  Chinstrap      Dream            53.5           19.9              205.0       4500.0    MALE\n192  Chinstrap      Dream            49.0           19.5              210.0       3950.0    MALE\n193  Chinstrap      Dream            46.2           17.5              187.0       3650.0  FEMALE\n194  Chinstrap      Dream            50.9           19.1              196.0       3550.0    MALE\n195  Chinstrap      Dream            45.5           17.0              196.0       3500.0  FEMALE\n196  Chinstrap      Dream            50.9           17.9              196.0       3675.0  FEMALE\n197  Chinstrap      Dream            50.8           18.5              201.0       4450.0    MALE\n198  Chinstrap      Dream            50.1           17.9              190.0       3400.0  FEMALE\n199  Chinstrap      Dream            49.0           19.6              212.0       4300.0    MALE\n200  Chinstrap      Dream            51.5           18.7              187.0       3250.0    MALE\n201  Chinstrap      Dream            49.8           17.3              198.0       3675.0  FEMALE\n202  Chinstrap      Dream            48.1           16.4              199.0       3325.0  FEMALE\n203  Ch